*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0; }

.hidden {
  display: none;
  visibility: hidden; }

body {
  background: #111;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  color: white;
  opacity: 0;
  font-weight: 300; }

body.loaded {
  opacity: 1; }

body.playing .background {
  opacity: 0; }

p {
  font-size: 18px;
  max-width: 650px;
  margin: 15px auto;
  line-height: 1.4; }

.background {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  background: url(../img/photo1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 0;
  transition: all 0.5s ease-in-out; }
  .background.loaded {
    opacity: 0.5; }

.intro-text {
  margin: 0 0 45px 0; }

.main {
  max-width: 913px;
  margin: 50px auto;
  padding: 0 30px;
  position: relative;
  z-index: 2;
  text-align: center; }
  .main a {
    color: white;
    text-decoration: none;
    display: inline-block;
    margin: 0 0 10px 0; }
  .main a.facebook, .main a.kickstarter, .main a.twitter {
    margin: 0 5px; }
    .main a.facebook:hover, .main a.kickstarter:hover, .main a.twitter:hover {
      opacity: 0.8; }
    .main a.facebook img, .main a.kickstarter img, .main a.twitter img {
      display: block; }
  .main form.donate {
    display: inline-block;
    margin: 25px 0 0; }

.presents {
  display: inline-block;
  margin: 0 0 25px 0; }

.title {
  display: inline-block;
  margin: 0 0 25px 0; }

hr {
  width: 150px;
  margin: 25px auto;
  border: 0;
  border-top: 1px solid white; }

.trailer {
  margin: 0 0 30px; }
  .trailer iframe {
    max-width: 100%; }

.trailer-text blockquote p {
  font-size: 14px;
  font-style: italic; }

.press .opb {
  background: white;
  padding: 8px 8px 5px;
  border-radius: 8px;
  position: relative;
  top: 4px;
  left: 10px; }

.contact a {
  font-weight: bold; }

img {
  max-width: 100%; }

@media (max-width: 600px) {
  .text img {
    width: 230px; } }
